@import "sasskit/dist/scss/api";

/* backport styles from core branding to bower sasskit */

$text-color: rgb(8, 31, 44);
$border-color: rgb(176, 176, 176);
$input-border-focus: rgb(192, 223, 254);
$grey: rgb(176, 176, 176);
$grey-lighter: rgb(243, 243, 243);
$button-hover-color: mix($alpha-ui-color, $black, 85%);
$spacer: 1.5rem;
$spacer-sm: $spacer * .75;
$spacer-xs: $spacer * .5;
$spacer-lg: $spacer * 2;
$screen-xs: 30rem;;
$text-color-xlight: $white;
$avatar: $spacer * 1.5;

/* local variables */

$border-radius: $spacer-xs;


.u-margin-xs {
    margin: $spacer-xs;
}

.u-text-xlight {
    color: $text-color-xlight;
}

.u-text-bold {
    font-weight: $bold;
}

.has-base-font {
    font-family: $base-font-family;
}

.h6 {
    font-size: 1.2rem;
}

.a-avatar {
    display: inline-block;
    overflow: hidden;
    position: relative;

    img {
        display: block;
        max-width: 100%;
    }

    &--small {
        height: $avatar;
        line-height: $avatar;
        width: $avatar;
    }
}

@mixin at($min-width) {
    @media screen and (min-width: $min-width) {
        @content;
    }
}

/* widget style */

.o-chatbot {
    color: $text-color;
    font-size: 1rem;
    line-height: 1;

    &__content {
        background-color: $white;
        border: 1px solid $border-color;
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        height: 100%;
        max-height: 100vh;
    }

    &__buttons {
        float: right;
    }

    /**
     * Elements
     */

    &__header {
        align-items: center;
        border-bottom: 1px solid $border-color;
        display: flex;
        justify-content: space-between;
        min-height: $spacer * 2;

        &--no-title {
            justify-content: flex-end;
        }
    }

    &__main {
        flex: 1;
        min-height: $spacer * 5;
        overflow: auto;
    }

    &__loader {
        display: flex;

        span {
            color: $grey;
            display: inline-block;
            font-size: 2rem;
            margin-left: $spacer-xs / 2 * 7;
        }

        .a-avatar + span {
            margin-left: $spacer-xs / 2;
        }
    }

    &__footer {
        border-top: 1px solid $border-color;
    }

    &__input {
        margin: -1px;
        padding-right: $spacer-lg;
        position: relative;

        button {
            padding-left: 0;
            position: absolute;
            right: 0;
            top: 0;
            width: 3rem;
        }

        .field {
            width: 100%;
        }
    }

    /**
     * Modifiers
     */

    &--pinned {
        bottom: 0;
        left: $spacer;
        position: fixed;
        right: $spacer;

        .o-chatbot__content {
            @include at($screen-xs) {
                max-height: $spacer * 20;
            }

            border-bottom: 0;
            height: 75vh;
        }

        @include at($screen-xs) {
            left: auto;
            width: $spacer * 12;
        }
    }

    .button {
        margin-right: 0;
        margin-bottom: 0;

        &:hover,
        &:focus {
            background: $button-hover-color;
        }

        &.transparent:hover,
        &.transparent:focus {
            background-color: transparent;
            color: $button-hover-color;
        }
    }

    .field {
        border-color: $border-color;
        color: $text-color;
        outline: none;

        &:hover,
        &:focus {
            border-color: $border-color;
        }

        &:focus {
            box-shadow: 0 0 0 3px $input-border-focus;
        }

        &::-webkit-input-placeholder {
            font-style: normal;
        }

        &::-moz-placeholder {
            font-style: normal;
        }

        &:-ms-input-placeholder {
            font-style: normal;
        }

        &:-moz-placeholder {
            font-style: normal;
        }
    }
}

/* widget message style */

.m-message {
    align-items: flex-start;
    display: flex;
    margin: 0 $spacer 0 0;

    .a-avatar {
        background: none;
        flex: 0 0 auto;

        + .m-message__content {
            margin-left: $spacer-xs / 2; // 6px
        }
    }

    &__content {
        display: flex;
        margin: 0 0 $spacer-xs $spacer-xs / 2 * 7; // 0 0 12px 42px
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        hyphens: auto;

        > span {
            animation: pop .2s ease-out;
            display: inline-block;
        }

        .a-button {
            display: inline-block;
            margin-left: $spacer-xs / 4;
            margin-right: $spacer-xs / 4;
            margin-bottom: $spacer-xs / 2;
            width: auto;
            padding: 0 1.5rem;
        }

        .a-button--small {
            font-size: .875rem;
            line-height: 2.25rem;
            min-height: 2.25rem;
        }
    }

    /**
     * Components
     */

    &__text,
    &__image,
    &__url {
        background-color: $grey-lighter;
        border-radius: $border-radius;
        border-bottom-left-radius: 0;
        padding: $spacer-xs / 6 * 5 $spacer-sm / 9 * 7; // 10px 14px
    }

    &__image {
        padding: $spacer-sm / 9 * 7;

        img {
            max-width: 100%;
        }
    }

    &__error {
        background-color: mix($danger, $white, 10%);
        padding: $spacer-xs / 6 * 5 $spacer-sm / 9 * 7; // 10px 14px => min-height = 36px
    }

    &__radio {
        margin-bottom: $spacer-xs / -2;
    }

    /**
     * Modifiers
     */
    &--center {
        justify-content: center;
        margin: 0;
        text-align: center;
    }

    &--right {
        justify-content: flex-end;
        margin: 0 0 0 $spacer;
        text-align: left;

        .m-message__text {
            background-color: mix($alpha-ui-color, $white, 10%);
        }

        .m-message__text,
        .m-message__image,
        .m-message__url {
            border-bottom-left-radius: $border-radius;
            border-bottom-right-radius: 0;
        }
    }

    &--center,
    &--left {
        .m-message__content {
            margin-left: 0;
        }
    }
}

@keyframes pop {
    0% {
        transform: scale(0);
    }

    80% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}
