<div class="o-chatbot"
  ng-class="{'o-chatbot--pinned': chatbot.pinned}"
  ng-style="{'height':!chatbot.pinned ? height + 'px' : '', 'width':!chatbot.pinned ? width + 'px' : ''}">
  <div class="o-chatbot__content"
    ng-if="!chatbot.pinned || (chatbot.pinned && chatbot.isOpen)">
    <div class="o-chatbot__header bg-primary u-text-xlight"
      ng-class="{'o-chatbot__header--no-title': !chatbot.title}">
      <h1 class="h6 has-base-font u-text-bold u-margin-xs"
        ng-if="chatbot.title">{{ chatbot.title }}</h1>
      <button class="button icon"
        ng-if="chatbot.pinned"
        ng-click="chatbot.toggleChatbot()"><i class="fa fa-close"></i></button>
    </div>
    <div class="o-chatbot__main" scroll-to-bottom="chatbot.data">
      <div ng-if="chatbot.data && (chatbot.data.length > 0)" class="u-margin-xs" aria-live="assertive">
        <ng-container ng-repeat="message in chatbot.data">
          <aui-chatbot-message data="message"></aui-chatbot-message>
        </ng-container>
        <div ng-if="chatbot.isLoading" class="o-chatbot__loader">
          <div class="a-avatar a-avatar--small" ng-if="!chatbot.loadingIndex">
            <img ng-src="{{ chatbot.avatar }}" alt="Avatar">
          </div>
          <span>...</span>
        </div>
      </div>
    </div>
    <div class="o-chatbot__footer">
      <div class="o-chatbot__input">
        <input type="text" class="field" name="chat-input" autocomplete="off"
          placeholder="{{ chatbot.placeholder }}"
          focus-from="focusTextInput"
          ng-model="chatbot.message.message"
          ng-keypress="chatbot.onInputKey($event)" />
        <button type="submit"
          class="button icon"
          ng-click="chatbot.sendMessage()">
          <i class="fa fa-send-o"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="o-chatbot__buttons" ng-if="chatbot.pinned && !chatbot.isOpen">
    <button ng-click="chatbot.toggleChatbot()" class="button has-icon"><i class="fa fa-comments"></i>{{ chatbot.pinnedtext }}</button>
  </div>
</div>
