<div class="chatservicer-button">
    <button type="button"
            class="button has-icon"
            ng-class="{'success': chatservicer.available}"
            ng-click="chatservicer.clickHandler(chatservicer.available)">
        <span class="fa fa-comments"></span>
        <span ng-if="chatservicer.available">
            <span>{{ buttonText || 'Chat met een medewerker'}}</span>
        </span>
        <span ng-if="!chatservicer.available">
            <span>{{buttonTextNoAgent || 'Hulp nodig bij het invullen?'}}</span>
        </span>
    </button>
</div>