<div>
  <div class="m-message" ng-class="{'m-message--right': msg.data.send, 'm-message--center': msg.data.type === 'radio' || msg.data.type === 'error'}" ng-if="!msg.data.hide">

    <div ng-if="!msg.data.send && msg.data.avatar" class="a-avatar a-avatar--small">
      <img ng-src="{{ msg.data.avatar }}" alt="Avatar.">
    </div>

    <div ng-switch="msg.data.type" class="m-message__content">

      <span ng-switch-when="text" class="m-message__text" tabindex="0">
        {{ msg.data.message }}
      </span>

      <span ng-switch-when="url" class="m-message__url">
        <a ng-if="msg.data.message" ng-href="{{ msg.data.url }}" target="_blank" rel="external">{{ msg.data.message }}</a>
        <a ng-if="!msg.data.message" ng-href="{{ msg.data.url }}" target="_blank" rel="external">{{ msg.data.url }}</a>
      </span>

      <span ng-switch-when="image" class="m-message__image" tabindex="0">
        <img ng-src="{{ msg.data.image }}" alt="Image.">
      </span>

      <span ng-switch-when="radio" class="m-message__radio">
        <ng-container ng-repeat="element in msg.data.elements">
          <button ng-click="msg.sendReply(element.replyText)" class="button a-button a-button--small">{{ element.text }}</button>
        </ng-container>
      </span>

      <span ng-switch-when="error" class="m-message__error u-text-danger" tabindex="0">
        {{ msg.data.message }}
      </span>

    </div>
  </div>
</div>
