<div class="chatservicer-button">
    <button type="button"
            class="button has-icon"
            ng-class="{'success': chatservicer.available}"
            ng-click="chatservicer.buttonClick()">
        <span class="fa fa-comments"></span>
        <span translate>{{ chatservicer.buttonText }}</span>
    </button>

    <div class="chatservicer-button__popup"
         ng-class="{'is-open': chatservicer.popupOpen}">
        <p translate>
            {{ chatservicer.popupText }}
        </p>
    </div>
</div>