@import "messages/send-button";
@import "messages/chat-status";
@import "messages/action-buttons";

.bottom_wrapper {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.bottom_wrapper:before,
.bottom_wrapper:after {
    content: none;
}

#chat_toolbar {
    width: 100%;
    padding-bottom: 6px;
    text-align: left;
    transform: translateY(-100%);
}

#spnChatTyping {
    float: none;
    height: auto;
    font-size: 12px;
    line-height: 1;
    color: #7C7070;
}
