#user-contact {
    .popup-body{
        border-radius: 0;

        h3 {
            border-radius: 0;
            background: #0064B4;
        }
    }

    .btn-primary {
        border-radius: 0;
    }
}