
.white-back-bg {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 0 !important;
    border-radius: 0;
    background: transparent;
}

.messages {
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 100%;
    padding: 20px;
    margin-bottom: 24px;
}

@import "messages/chatbubble";
@import "messages/file-upload";

/* Messages: input and send button */

.bottom_wrapper {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.bottom_wrapper:before,
.bottom_wrapper:after {
    content: none;
}

/* Messages: toolbar */

#chat_toolbar {
    width: 100%;
    padding-bottom: 6px;
    text-align: left;
    transform: translateY(-100%);
}

#spnChatTyping {
    float: none;
    height: auto;
    font-size: 12px;
    line-height: 1;
    color: #7C7070;
}
@import "messages/input";

/* Messages: upload and download button */

#clip_upload,
#download_txt {
    width: 3rem;
    height: 100%;
    font-size: 1.35rem;
    line-height: 3rem;
    text-align: center;
    background: #90ABBC;
    color: #FFF;
    cursor: pointer;
    transition: background 250ms ease-out;
}

#clip_upload {
    border-right: 1px solid #2B3C46;
}

#download_txt {
    padding: 0;
}

#clip_upload:focus,
#download_txt:focus,
#clip_upload:hover,
#download_txt:hover {
    background: #678CA3;
}

/* Messages: chat status indicator */

.chat_company {
    -webkit-box-ordinal-group: 2 !important;
    -ms-flex-order: 2 !important;
    order: 2 !important;
}

#spnChatStatus {
    position: relative;
    top: 50%;
    display: block;
    width: 1rem;
    height: 1rem;
    padding: 0;
    border: 0;
    margin-right: .5rem;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 1rem;
    letter-spacing: normal;
    line-height: 1;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: none;
    border-radius: 0;
    transform: translateY(-50%);
}

.company_on:before,
.company_off:before,
.company_blind_timeout:before,
.company_blind_on:before,
.company_blind_off:before {
    content: "\f111";
}

.company_on:before,
.company_blind_on:before {
    color: #4AA32C;
}

.company_blind_timeout:before,
.company_blind_off:before {
    color: #DA291C;
}

.company_off:before {
    color: #BABABA;
}

.company_blind_kill:before {
    content: "\f00d";
    color: #DA291C;
}

.company_blind_progress:before {
    content: "\f251";
    color: #282020;
}
@import "messages/send-button";