body {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    height: 100vh;
}

h1.h4 {
	font-size: 1.728rem;
	font-weight: 500;
	line-height: 1.1;
	margin: 0;
}

.u-wrapper {
    flex: 1 1 auto;
    max-width: 600px;
}

.u-margin-lg {
    margin: 3rem !important;
}

.u-margin-top-lg {
    margin-top: 3rem !important;
}
