/* Messages: input */

.message_input_wrapper {
    position: static;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 0;
    border-right: none;
    border-color: #BABABA;
    border-radius: 0;
}

.message_input_wrapper span {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 3;
    order: 3;
    height: 3rem;
    margin-top: -1px;
}

.message_input {
    position: static;
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 1;
    order: 1;
    padding: 0 1.25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #614D4D
}

.message_input:placeholder {
    font-style: italic;
    font-weight: normal;
    color: #7C7070 !important;
}

.message_input:-ms-input-placeholder {
    font-style: italic;
    color: #7C7070 !important;
}

.message_input:-moz-placeholder {
    font-style: italic;
    color: #7C7070 !important;
}

.message_input::-moz-placeholder {
    font-style: italic;
    color: #7C7070 !important;
}

.message_input::-webkit-input-placeholder {
    font-style: italic;
    color: #7C7070 !important;
}