/* Messages: send button */

.send_message {
    float: none;
    border-radius: 0;
    font-family: "Sun Regular", "Helvetica Neue", Helvetica, Arial, Georgia, Sans-serif;
    text-transform: none;
    background: #0064B4;
}

.send_message:hover {
    background: #003f72;
}

.send_message i {
    font-style: normal;
}