.chat_company {
    -webkit-box-ordinal-group: 2 !important;
    -ms-flex-order: 2 !important;
    order: 2 !important;
}

#spnChatStatus {
    position: relative;
    top: 50%;
    display: block;
    width: 1rem;
    height: 1rem;
    padding: 0;
    border: 0;
    margin-right: .5rem;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 1rem;
    letter-spacing: normal;
    line-height: 1;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: none;
    border-radius: 0;
    transform: translateY(-50%);
}

.company_on:before,
.company_off:before,
.company_blind_timeout:before,
.company_blind_on:before,
.company_blind_off:before {
    content: "\f111";
}

.company_on:before,
.company_blind_on:before {
    color: #4AA32C;
}

.company_blind_timeout:before,
.company_blind_off:before {
    color: #DA291C;
}

.company_off:before {
    color: #BABABA;
}

.company_blind_kill:before {
    content: "\f00d";
    color: #DA291C;
}

.company_blind_progress:before {
    content: "\f251";
    color: #282020;
}