 html {
    font-size: 16px;
    body {
        overflow: hidden;
    }
}

body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 1.5rem 2rem 1rem;
    font-family: "Sun Regular", "Helvetica Neue", Helvetica, Arial, Georgia, Sans-serif;
    font-size: 0.875rem;
    background: #E5E5E6;
    color: #282020;
}

body:before {
    content: none;
}

.iamcss {
    padding: 0 !important; 
} 